/* 

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
}

.carousal-container {
  max-width: 1200px;
  height: 510px;
  margin: 0 auto;
}

.carousal-container > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.navbar {
  padding: 24px;
  box-shadow: 0px 1px 1px #ccc;
}

.navbar > ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.navbar > ul > li > a {
  text-decoration: none;
  color: inherit;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 2em;
}

.row {
  display: flex;
}

.row > div {
  display: flex;
  align-items: center;
  width: 650px;
  margin-right: auto;
}

.row > div > label {
  display: inline-block;
  width: 30%;
}

.row > div > input,
textarea,
select {
  width: 70%;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
}

.row > div > input,
select,
textarea {
  padding: 8px 10px;
  font-size: inherit;
  resize: none;
}

form > input {
  cursor: pointer;
  align-self: self-start;
  padding: 0.75em 2em;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ccc;
  background-color: #006bff;
  font-size: inherit;
  color: #fff;
}

.users-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.users-table-cell {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.overlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.model {
  width: 450px;
  height: 200px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid black;
  overflow: hidden;
}

.model > div:first-child {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.image-container {
  margin: 0 auto;
  width: 750px;
}

.slide {
  position: relative;
  display: none;
}

.slide img {
  width: 100%;
}

.slide .caption {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}

.slide.active {
  display: block;
}

.navigate {
  display: flex;
  justify-content: center;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 100%;
  margin: 0 10px;
  cursor: pointer;
}

.dot.active {
  background-color: bisque;
  width: 25px;
  height: 10px;
  border-radius: 20%;
}

.top-container {
  position: relative;
}

.navigation {
  position: absolute;
  top: 50%;
  font-size: 24px;
}

.next {
  cursor: pointer;
  left: 0;
}
.prev {
  cursor: pointer;
  right: 0;
}

.list{
  display: flex;
  gap: 10px;
  margin:10px 0;
} */

.cards {
  display: flex;
  gap: 50px;
}
.card {
  width: 100px;
  height: 100px;
  background-color: aqua;
  border: 1px solid red;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
}

.card.active {
  border: 1px solid green;
}

.layout {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.modal {
  width: 80%;
  height: 250px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation{
  position: relative;
  padding: 0 50px;
  
}

.direction{
  position: absolute;
}

.gt{
  left: 0;
}

.lt{
  right: 0;
}