* {
  box-sizing: border-box;
  margin: 0;
}

.carousal-container {
  max-width: 1200px;
  height: 500px;
  margin: 0 auto;
}

.carousal-container > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
